.project-card {
    padding-top: 2rem;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    letter-spacing: .2rem;
    gap: .55rem;

   
    /* margin-bottom: 4rem; */
    
}