.project-link {
    position: relative;
    display: inline-block;
    font-family: 'Le murmure', sans-serif;
    font-size: 2.75rem;

    margin: 0;


    /* color: rgb(0, 0, 0); */

    overflow: hidden;
    cursor: pointer;

    text-transform: uppercase;

    

    
    /* mix-blend-mode: difference; */
}

.title-text {
    display: inline-block;
    transition: color 0.3s ease;
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.project-link:hover .underline {
    transform: scaleX(1);
}


.modal-flex-container {
    padding: 2rem;
    
    width: 100%;
    display: flex;

    justify-content: flex-start;
    gap: 2.5rem;

}

.modal-flex-section {
    display: flex;
    flex-direction: column;
}

.modal-flex-section>ul {
    font-size: .75rem;
}

.project-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.project-links>a>svg {
    height: 3rem;
    width: 3rem;
}

.modal-flex-container>p {
    max-width: 600px;
}


@media only screen and (min-width: 1000px) {

    /* modal */
    .project-links>a>svg {
        height: 4rem;
        width: 4rem;
    }

    .modal-flex-section>ul {
        font-size: 1.0rem;
    }

    .modal-flex-container>p {
        font-size: 1.2rem;
    }



}

@media only screen and (min-width: 1024px) {
    .modal-flex-container>p {
        max-width: 750px;
    }

    .modal-flex-container {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    .modal-flex-container {
        justify-content: flex-start;
        gap: 10rem;
    }

    .modal-flex-container>p {
        max-width: 1000px;
        
    }
}