.project-link {
    position: relative;
    display: inline-block;
    font-family: 'Le murmure', sans-serif;
    font-size: 2.75rem;

    margin: 0;


    color: rgb(230, 251, 243);

    overflow: hidden;
    cursor: pointer;

    text-transform: uppercase;

    

    
    /* mix-blend-mode: difference; */
}

.title-text {
    display: inline-block;
    transition: color 0.3s ease;
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgb(230, 251, 243);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.project-link:hover .underline {
    transform: scaleX(1);
}


.modal-flex-container {
    padding: 2rem;
    
    width: 100%;
    display: flex;

    justify-content: flex-start;
    gap: 2.5rem;

}

.modal-flex-section {
    display: flex;
    flex-direction: column;
}

.modal-flex-section>ul {
    font-size: .75rem;
}

.project-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.project-links>a>svg {
    height: 3rem;
    width: 3rem;
}

.modal-flex-container>p {
    max-width: 600px;
}