.projects-section {
    /* background-color: #D6531B; */
    opacity: 0.9;
    /* mix-blend-mode: difference; */
    display: flex;
    overflow-x: hidden;

    flex-shrink: 0;
}



.projects-section>* {
    font-family: 'Le murmure', sans-serif;
}