.contact-section {
    min-height: 75vh;
    padding: 2rem;

    font-family: 'Le murmure', sans-serif;
    font-size: 2rem;
    /* text-transform: uppercase; */
    letter-spacing: .2rem;
    display: flex;
    flex-direction: column;

}

.contact-section>h2 {
    text-transform: uppercase;
}

.contact-section-flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.flex-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.25rem;
}

.hover-item>img, .hover-item>svg {
    height: 3rem;
    width: 3rem;
}

.hover-item {
    display: flex;
    gap: .75rem;
}

a {
    color: rgb(230, 251, 243);
    text-decoration: none;
}

.hover-item>span{
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    white-space: nowrap;
}

.hover-item:hover .contact-item-text {
    opacity: 1;
    transform: scaleX(1);
}